extends base.pug

block scripts
  script(src='/index.js')

block style
    style
        include ../static/style.css
        include ../static/contactstyle.css
block content
    section#introSection 
        div Welcome to Lorem Dance Academy
        div.small Enter cheesy tag line here

    section#missionsSection 
        h2 Our missions
        div.card
          h3 Lorem ipsum dolor sit amet.
          div.card-box
              div.card-img
                img(src="/static/img/1.png")
              div.card-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, itaque provident mollitia cupiditate aliquam quam nisi velit expedita. Doloribus, suscipit.

        div.card
          h3 Lorem ipsum dolor sit amet.
          div.card-box
              div.card-img
                img(src="/static/img/2.png")
              div.card-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque et rerum deleniti animi voluptas, eos aliquam amet ab iusto earum!

        div.card.card-3
          h3 Lorem ipsum dolor sit amet.
          div.card-box
              div.card-img
                img(src="/static/img/3.png")
              div.card-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi hic iste nostrum pariatur numquam ipsam assumenda expedita, officiis asperiores aliquam.

    section#sponsersSection 
        h1 Our Sponsers
        div#sponsers
            img(src="/static/img/linux.png", alt="" class="spImage")
            img(src="/static/img/apple.png", alt="" class="spImage")
            img(src="/static/img/google.png", alt="" class="spImage")
            img(src="/static/img/instagram.jpg", alt="" class="spImage")
    div.container#container
      h1 Contact Us 
      form(action="#", class="myForm") 
        input(type="text", class="myInput", name="name", placeholder="Enter your name")
        input(type="email", class="myInput", name="email", placeholder="Enter your email - id")
        input(type="phone", class="myInput", name="phone", placeholder="Enter your phone number")
        input(type="address", class="myInput", name="address", placeholder="Enter your address")
        input(type="desc", class="myInput", name="desc", placeholder="Enter your doubts")
        <button class="btn">Submit</button>
    